# ===== PYTHON =====
__pycache__/
*.py[cod]
*.so
*.log

# ===== ENVIRONMENT =====
venv/
env/
.venv/
ENV/

# ===== MODELS & OUTPUT =====
*.pt
*.onnx
*.h5
*.tflite
exports/
logs/
runs/
user_data/

# ===== OS & EDITORS =====
.DS_Store
Thumbs.db
.vscode/
.idea/

# ===== OTHER =====
*.zip
*.tar
*.rar
